@use '../variables' as *;
@use '../mixins' as *;

.compare {
  &__title {
    @include section-title;
  }

  @include tablet {
    padding: 0 $space-8 - 4;
  }

  @include desktop {
    padding: $space-0;
  }

  &__list {
    list-style: none;

    @include desktop {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: $space-3;
      padding-top: $space-6;
    }
  }

  &__img {
    display: block;
    width: 100%;
    padding-bottom: $space-4;
    cursor: pointer;
  }

  &__name {
    @include section-name;
  }

  &__text {
    @include section-text;
  }

  &__price {
    font-size: $space-3;
    font-weight: $font-bold;
    padding-bottom: $space-5;
  }
}
