@use '../variables' as *;
@use '../mixins' as *;

.main {
  margin: 0;
  padding: $space-4 $space-3 - 4 $space-5 $space-3 - 4;
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  color: $font-color;

  @include tablet {
    padding: $space-8 $space-9 $space-0;
  }

  @include desktop {
    padding: $space-5 * 3 $space-5 * 3 $space-0;
  }
}
