@use '../variables' as *;
@use '../mixins' as *;

.move-free {
  &__inner {
    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $space-3;
    }
  }

  &__title {
    font-size: $space-4;
    letter-spacing: -1.5px;
    padding-bottom: $space-4;

    @include tablet {
      font-size: $space-6;
    }
  }

  &__text {
    font-size: $space-3;

    @include desktop {
      font-size: 20px;
    }
  }
}
