@use 'variables' as *;

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin section-title {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  font-weight: $font-medium;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;

  @include tablet {
    font-size: 48px;
  }

  @include desktop {
    font-size: 64px;
  }
}

@mixin section-name {
  font-size: 24px;
  padding-bottom: 8px;
}

@mixin section-text {
  font-weight: $font-medium;
  font-size: 16px;
  padding-bottom: 16px;
}

@mixin button {
  display: inline-block;
  text-align: center;
  background-color: $background-color;
  width: 100%;
  max-width: 392px;
  height: 56px;
  margin-top: 48px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover,
  &:focus-visible {
    box-shadow: 0 16px 24px -8px rgba(255, 255, 255, 0.5);
  }

  &:active {
    box-shadow: 0 0 24px rgba(255, 255, 255, 0.7);
  }
}

@mixin button-text {
  font-family: $font-main;
  font-size: 16px;
  line-height: 27px;
  font-weight: $font-bold;
}

@mixin background-image {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/src/images/header-bg.png');
}
