$font-main: 'Poppins', sans-serif;
$font-bold: bold;
$font-medium: 500;
$font-regular: 400;
$font-color: rgba(255, 255, 255, 1);

$tablet: 744px;
$desktop: 1024px;

$space-unit: 8px;
$space-0: 0;
$space-1: $space-unit;       // 8px
$space-2: $space-unit * 2;   // 16px
$space-3: $space-unit * 3;   // 24px
$space-4: $space-unit * 4;   // 32px
$space-5: $space-unit * 5;   // 40px
$space-6: $space-unit * 6;   // 48px
$space-8: $space-unit * 8;   // 64px
$space-9: $space-unit * 9;   // 72px
$space-10: $space-unit * 10; // 80px

$color-dark: rgba(29, 29, 29, 1);
$menu-bg: rgba(194, 194, 194, 1);
$background-color: rgba(255, 255, 255, 1);
$hover-text-color: rgba(41, 41, 41, 1);

