@use 'blocks/header';
@use 'variables';
@use 'mixins';
@use 'blocks/menu';
@use 'blocks/move-free';
@use 'blocks/compare_bikes';
@use 'blocks/main-section';
@use 'blocks/details';
@use 'blocks/contact-us';
@use 'blocks/footer';

body {
  box-sizing: border-box;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
